importFrom(methods,as)
importFrom(stats,median)
importFrom(stats,qnorm)
importFrom(stats,lm)
importFrom(stats,coef)
importFrom(stats,sigma)
importFrom(stats,screeplot)
importFrom(ggplot2,ggplot)
importFrom(ggplot2,aes_string)
importFrom(ggplot2,geom_point)
importFrom(ggplot2,geom_line)
importFrom(ggplot2,geom_text)
importFrom(ggplot2,geom_path)
importFrom(ggplot2,geom_abline)
importFrom(ggplot2,geom_violin)
importFrom(ggplot2,geom_segment)
importFrom(ggplot2,scale_shape_manual)
importFrom(ggplot2,scale_fill_manual)
importFrom(ggplot2,scale_color_manual)
importFrom(ggplot2,scale_color_gradientn)
importFrom(ggplot2,scale_x_continuous)
importFrom(ggplot2,xlab)
importFrom(ggplot2,ylab)
importFrom(ggplot2,ylim)
importFrom(ggplot2,element_blank)
importFrom(ggplot2,element_line)
importFrom(ggplot2,element_text)
importFrom(ggplot2,arrow)
importFrom(grid,unit)
importFrom(grid,arrow)
importFrom(ggplot2,is.ggproto)
importFrom(ggplot2,labs)
importFrom(ggplot2,guide_legend)
importFrom(ggplot2,guides)
importFrom(ggplot2,theme)
importFrom(ggplot2,map_data)
importFrom(ggplot2,coord_fixed)
importFrom(ggplot2,coord_flip)
importFrom(ggplot2,coord_cartesian)
importFrom(cowplot,theme_cowplot)
importFrom(cowplot,plot_grid)
importFrom(countrycode,countrycode)
importFrom(maps,map)
importFrom(plotly,ggplotly)
importFrom(htmlwidgets,saveWidget)

export(pcaviz,
       pcaviz_rotate,
       pcaviz_reflect,
       pcaviz_scale,
       pcaviz_translate,
       pcaviz_transform2d,
       pcaviz_colors_categorical,
       pcaviz_colors_continuous,
       pcaviz_shapes,
       pcaviz_loadingsplot,
       theme_pcaviz,
       pcaviz_reduce_whitespace,
       create_abbreviated_label,
       pcaviz_abbreviate_var,
       pcaviz_summary_default,
       overlay_map_world,
       overlay_map_europe,
       overlay_map_usa,
       pcaviz_violin,
       matrix_rotate,
       matrix_reflect,
       matrix_scale,
       matrix_translate,
       matrix_transform2d)

S3method(summary,pcaviz)
S3method(print,summary.pcaviz)
S3method(print,pcaviz)
S3method(subset,pcaviz)
S3method(plot,pcaviz)
S3method(screeplot,pcaviz)
